.MuiInputBase-root, .MuiFormLabel-root, .MuiStepLabel-label{
    font-size: 13px !important;
    font-family: 'poppins' !important;
}
.MuiFormLabel-root{
    color:rgb(0 0 0 / 39%) !important;
    letter-spacing: 0.1px !important;
    font-style: normal !important;
font-weight: 600 !important;
font-family: 'poppins' !important;
line-height: 16px !important;
letter-spacing: 0.2px !important;

}
.MuiInputBase-root, .MuiFormLabel-root,.MuiBox-root, .MuiTypography-root{
    font-family: 'poppins' !important;
}
.MuiMenuItem-root{
    font-family: 'poppins' !important;
    font-size:13px !important;
     padding-left:15px !important 
}
.MuiStep-root .MuiStepConnector-lineHorizontal{
    border-color: #ffffff !important
  }

  